.u-text-center {
  text-align: center;
}
.u-marginBottom-large {
  margin-bottom: 8rem;
}
.u-marginBottom-small {
  margin-bottom: 2rem;
}

.u-marginTop-large {
  margin-top: 8rem;
}
.u-marginTop-small {
  margin-top: 2rem;
}
